@import '../../styles/colors.scss';

.product_line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        p {
            margin: 0;
        }
    }
    
    .product_line_row {
        width: 100%;
    }
    img {
        height: 100px;
        max-width: 150px;
    }
    
}
@media screen and (max-width: 728px) {
    .product_line {
        .product_line_image {
            display: none;
        }
        .product_line_price {
            b {
                font-size: 12px;

            }
        }
        .product_line_quantity {
            button {
                padding: 5px;
                line-height: 10px;
            }
        }
    }

    
}